<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Bs_Pro14.Properties.Settings.Bs_Pro14ConnectionString"
            connectionString="Data Source=iftahserver.database.windows.net;Initial Catalog=Bs_Pro14;Persist Security Info=True;User ID=iftahs;Password=ProjectBS14"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>